*{
    margin: 0;
    padding: 0;
}
nav {
    background-color:black;
    height: 100px;
    width: 100%vw;
    font-family: "Helvetica";
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
   }
.logo{
    background-color: red;
    width: 140px;
    height:100px;
text-align: center;
vertical-align: middle;
text-shadow: 2px 2px 4px #000000;
display: flex;
align-items: center;
justify-content: center;
}
.logo h2{
    font-size: 48px;
}
.menu{
    display: inline-flex;
    text-transform: uppercase;
​   }
​
.menu p:hover {
    font-family: Langar;
    font-size: 22px;
    color: orchid;
}
.active{
    font-family: Langar;
    font-size: 22px;
    color: purple;
}
.menu div{
    padding: 0 40px;
}
​
#signin{
flex-direction: column;
float: right;
align-items: center;
justify-self: center;
padding-left: 200px;
text-transform: uppercase;
​
}
​
/* animation to cart icon */
.view img{
position: relative;
animation-name: cartMove;
animation-duration: 4s;
}
​
@keyframes cartMove {
0%   {left:0px; top:0px;}
25%  {left:20px; top:0px;}
50%  {left:0px; top:0px;}
75%  {left:20px; top:0px;}
100% {left:0px; top:0px;}
}
​
#search{
width: 300px;
height: 36px;
background-color: cornsilk;
display: inline-block;
}
img{
    float: right;
    padding: 8px;
}
​
.right{
padding: auto  20px 200px;
}
.view{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
p{
    color: white;
    font-weight: bold;
}
main{
    margin: 100px 300px;
}
main p{
    font-family: "Pacifico";
    font-weight: 400;
    color: black;
​
}
p+p{
    line-height: 30px;
}
​
main ul{
    font-family: 'Andika New Basic', sans-serif;
    padding: 30px;
}
footer{
    display: inline-flex;
   padding: 60px 30px;
   background: lightsalmon;
   height: 150px;
   width: 100vw;
   padding-left: 300px;
   font-family: "Helvetica";
   font-weight: bold;
​
}
footer div{
    padding-right: 40px;
    }
